.magistratura__container{
    padding: 0 3%;
    margin: 0 auto;
}

.study__type{
    background: linear-gradient(135deg,rgb(239, 239, 235) 0%, rgb(227, 226, 194)) 100%;
}

.moliyaviy__info__table{
    width: 60%;
    margin: 0 auto;
}

.moliyaviy__info__table thead{
    font-weight: bold;
}

.moliyaviy__info__table tr{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.qabul-link{
    color:#02307D;
    font-weight: 700;
}
@media (max-width: 767px) {
    .moliyaviy__info__table{
    width: 100%;
    margin: 0 auto;
}
.study__on__tktu h1{
       font-size:20px;
}
}
