.xalqaro-title{
    display: flex;
   margin:20px 30px;
    flex-wrap: wrap;
}
.xalqaro-info{
    margin: 20px;
}
.xalqaro-title img{
    width: 300px;
    border-radius:10px;
}
.images{
   
    border-radius:5px;
    width: 200px;
}
.aloqaBox{
    display: flex;

}
@media (max-width: 768px) {
.aloqaBox {
        display: block;
    }
}
.xamkor__davlats a{
    text-decoration: none;
    color: #02307D;
    font-weight: 700;
}

.aloqaBox .images{
    width: 300px !important;
}
.department__btn{
border: 1px solid #02307D;
border-radius:5px;
padding: 5px 10px;
cursor: pointer;
background: #fff;
}
.department__file{
    display: flex;
    margin:  0 40px;
    justify-content: end;
}
.departmentContent {
    color:#02307D;
}
.departmentContent h3, .departmentContent span{
    font-weight: 600;
    width: 100%;
    
}
.departmentContent p, .xamkor__davlats a p{
    font-size: 16px;
}
