.xalqaro-title{
    display: flex;
   margin:20px 30px;
    flex-wrap: wrap;
}
.xalqaro-info{
    margin: 20px;
}
.xalqaro-title img{
    width: 300px;
    border-radius:10px;
}
.images{
   
    border-radius:5px;
    width: 200px;
}
.aloqaBox{
    display: flex;

}
@media (max-width: 768px) {
.aloqaBox {
        display: block;
    }
}
.xamkor__davlats a{
    text-decoration: none;
    color: #02307D;
    font-weight: 700;
}

.aloqaBox .images{
    width: 300px !important;
}