.navbar__hover:hover{
    border-bottom: 0.3rem solid #02307d;
    padding-bottom: 0.5rem;
}

.navbar__hover:last-child{}
.navbar__hoverItems{
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px #cddcf6;
    margin-top: -1px;
}
.navbar__hoverItem{
  font-size: 0.9375rem;
  color: #02307d;
  transition: all 0.3s;
}
.navbar__hoverItem:hover{
    background-color: #cddcf6;
    color: #02307d;
}
.navbarDes{
    width: 300px;}
.navbarDesc{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #02307d;
}