.rectorat__wrapper{
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.rectorat__left{
    width: 50%;
}
.rectorat__left > ol{
    margin: 40px 0;
    display: flex;
    align-items: center;
}
.rectorat__left > ol > a{
    margin: 0 7px;
}
.rectorat__left > span{
    display: block;
    margin-bottom: 20px;
}
.rectorat__profil{
    width: 49%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 15px auto;
}
.rectorat__profil > img{
height: 240px;
border-radius: 4px;
flex: none;
order: 0;
flex-grow: 0;
}

.rectorat__profil > div{
    max-width: max-content;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px;
}

.rectorat__profil > div >h4{
    font-weight: 600;
font-size: 20px;
line-height: 29px;
color: #02307D;
}
.rectorat__profil >div >span{
    font-weight: 500;
font-size: 18px;

color: #41649D;
}

.rectorat__profil > div i{
    color: #02307D;
    width: 24px;
    height: 24px;
}

.rectorat__profil > div a, .rectorat__profil > div p{
    margin-top: 2px;
    font-weight: 500;
font-size: 16px;
line-height: 19px;

/* Rectangle2/700 */

color: #02307D !important;
}
@media only screen and (max-width: 900px){

    .rectorat__wrapper{
        display: flex;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .rectorat__left{
        width: 100%;
    }

    .rectorat__profil{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}
@media only screen and (max-width: 768px){
.rectorat__profil>img{
    width: 100%;
}
}