.yangilik-form .file {
  width: 95%;
  margin: 0 auto;
}

.yangilik-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.editor-wrapper {
  width: 95%;
  margin: 0 auto;
}

.editor-wrapper span {
  width: 100%;
  margin: 0 auto;
}
