.xodim-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.xodim-form div{
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.xodim-form label{
    width: 100%;
}

.xodim-form select{
    width: 100%;
    padding: 10px 15px;
}