.famous-student-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.famous-student-form div{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.famous-student-form label{
    width: 100%;
}
.year-tel-email{
    display: flex;
    
}