.maqsad__wrapper > span{
    display: block;
    margin: 10px 0;
}
.maqsad__wrapper > span >b {
    font-weight: 700;
}
.yoshlar__titles{
    display: block;
    margin: 10px 0;
    line-height: 30px;
}
.yoshlar__titles__bold, .yoshlar__titles >b{
    font-weight: 900 !important;
    position: relative;
}

.ittifoq__card{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.ittifoq__image{
    width: 35%;
    height: auto;
}

.ittifoq__body{
    width: calc(100% - 40%);
}

@media only screen and (max-width: 600px){
    .ittifoq__card{
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .ittifoq__image{
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .ittifoq__body{
        width: 100%;
    }
}