.all-activities h1 {
    text-align: center;
}

.activity__wrapper{
  display: flex;
  flex-direction: column;
}

.activity__item{
  width: 100%;
  border: 1px dotted rgb(106, 148, 234);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 3px 5px;
}

.activity__nested__item{
  border-radius: 7px;
  margin: 3px 0;
  display: none;
  display: none;
}



.activity__link{
  display: block;
  color: white;
    background: #02307d;
    font-size: 20px;
    padding: 5px 7px;
    border-radius: 7px;
    margin-bottom: 5px;
}

.activity__show{
  display: block;
  /* Animatsiyalar yozsela bo'ladi shu classga */
}