.workplan__wrapper{
    margin: 2rem 5%;
}
.workPlan__btn{
    padding:12px 24px;
    border:1px solid #02307D;
    border-radius:5px;
}
.workPlan__btn i{
    margin-left:8px;
}
.workPlan__btn:hover,.workPlan__btn:hover span,.workPlan__btn:hover i{
    background:#02307D;
    color:#fff !important;
}
