
.about__us__text{
    font-weight: 600;
font-size: 32px;
display: flex;
justify-content: center;
margin: 20px 0 ;
line-height: 130%;
color: #02307D;
}

.list-info{
  
    margin:0 auto;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.list-info h2 {
    margin: 0 !important;
}

.list-info .list-item {
    text-align: center;
    cursor: pointer;
   
    color: #333;
   
}

    
    

.list-item img {
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: all 0.5s ease;
}




.list-item >p{
    font-weight: 500;
font-size: 18px;
line-height: 130%;
color: #02307D;
}

.list-item >h2 > span{
    font-weight: 500;

color: #02307D;
}
@media (max-width: 768px) {
    .about__us__text, .useful h2{
        display: flex;
        text-align: center;
        margin: 0 auto;
        align-items:center;
        justify-content: center;
    }
}        