.fakultetName{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #02307d;
}

.btnGroup  button{
    font-size: 20px;
    background: none;
    height: 50px;
    outline: none;
    border: none;
    margin: 20px 0;
    margin-right: 12px;
    padding: 7px 20px;
    text-decoration: none;
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    border-radius:5px;
   background:#cedaed;
    color: #02307d;
}
.btnGroup  button:hover{
    border-bottom: 0.3rem solid #02307d;
    padding-bottom: 0.5rem;

}
.kafedraName h3{
    margin: 10px 0;
    font-size: 20px;
}


.fakultetlar__hero {
    background: #cddcf6;
    border-radius: 15px 0 15px 0;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .departments {
    background: #cddcf6;
    border-radius: 15px 0 15px 0;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fakultetlar__hero > p {
    font-weight: 500;
    width: 45%;
  }
  .facultetInfo {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    flex: 1 1 40px;
    margin: 5rem auto;
  }
  .facultetTitle {
    /* min-width: 300px; */
    width: 400px;
    background-color: #ccd7ed;
    /* border: 3px solid #02307D !important; */
    border-radius: 15px !important;
    position: relative;
    height: 200px;
    min-height: 100px;
    display: flex;
    border: 1px solid rgb(136 195 247 / 52%);
    justify-content: center;
    background-size: cover;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: all 0.5s ease;
    padding: 16px;
  }
  .facultetTitle:hover {
    box-shadow: 0 5px 13px 1px rgba(165, 145, 214, 0.6);
    transform: translateY(-3px) scale(1.05) rotateX(15deg);
    transition: all 0.5s ease;
  }
  
  .tapBtn {
    width: 100%;
    height: 50px;
    background: #337ab7;
  }
  .tapBtn button {
    border: none;
    outline: none;
    width: 20%;
    margin: 0 5px;
    height: 50px;
  }
  .tapBtn button:hover {
    background: #cddcf6;
  }
  .cardHodim {
    flex-wrap: wrap;
    display: flex;
   
    margin: 20px auto;
  }
  .cardEmail{
    width: max-content;
  }
  .cardInfo {
    display: flex;
    cursor: pointer;
    margin-bottom: 28px;
    width: 600px;
    border: 2px solid #eceef1;
    border-radius: 4px;
  }
  
  .cardImg img {
    object-fit: cover;
    width: 217px;
    height: 100%;
  }
  .cardDesc {
    padding: 24px;
    margin: 5px 0;
  }
  .aSD {
    box-sizing: border-box;
    width: 15%;
    height: 2px;
    background: #6db0ff;
    transition: all 0.3s;
  }
  .cardInfo:hover .aSD {
    width: 100%;
  }
  
  .cardDesc p {
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-top: 8px;
    color: #44494f;
    font-size: 1.2rem;
  }
  .cardJob {
    font-size: 1.25rem;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #003b81;
  }
  @media (max-width: 1200px) {
    .cardHodim {
      width: 80%;
    }
  }
  @media (max-width: 920px) {
    .btnGroup button{
      margin: 12px 0 !important;
     }
    .cardInfo {
      width: 400px;
      border:0.4px solid #02307d !important;
      border: none;
      display: block;
    }
    .btnGroup button {
      width: 100%;
    }
  
    .cardHodim {
      max-width: fit-content;
    }
    .cardImg img {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }
    .fakultetlar__hero {
      display: block !important;
    }
    .fakultetlar__hero > p {
      width: 100% !important;
    }
  }
  .fakultet-inner {
    font-size: 20px;
    font-weight: 500;
  }
  @media (max-width: 768px) {
    /* .cardEmail{
      width:min-content;
    } */
    .cardInfo {
      width: 350px;
    }
    .facultetTitle {
      margin: 10px auto;
    }
    .btnGroup {
      display: block;
      width: 100%;
    }
  }
  @media (max-width: 540px) {
   .btnGroup button{
    margin: 10px 0 !important;
   }
    .cardDesc{
      padding: 12px;
      font-size: 16px;
    }
    .cardDesc p {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 320px) {
    .cardDesc p{
      font-size: 1rem;
    }
  }