.form__section input,.form__section textarea{
    margin: 5px;
}
.form__section input{
    line-height: 50px;
    margin: auto 5px;
    /* width: 7rem; */
    height: 50px;
}
.w-30{
    width: 30%;
    display: flex;
    gap: 10px;
}

.form-label{
    cursor: pointer;
}
.xalqaro_name{
    display: flex;
    justify-content: center;
}