.tap__photo__custom{
    width: auto;
    max-width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.wrapped{
  min-width: 425px;
}
.tab {
    margin-top: 30px;
    overflow: hidden;
    background: #cddcf6;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .tablinks {
    font-weight: bold;
    font-size: 16px;
  }
  
  .tab button {
    background-color: inherit;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: all 0.4s ease-in-out;
    border: none;
    border-bottom: 4px solid transparent;
  }
  .tab button:hover {
    color: #fff;
    background-color: #02307d;
    border-bottom: 4px solid #02307d;
  }
  .tabcontent {
    display: none;
    width: 100%;
    padding: 10px 22px;
    border: 1px solid #bce2f396;
    border-top: none;
    text-align: justify;
    text-indent: 3ch;
  }
  
  .opened {
    display: block !important;
  }