.kafedra h1 {
  width: 95%;
  margin: 50px auto;
  display: block;
}

/* .kafedra button[type="submit"]{
    margin-top: 30px;
} */

.yonalish-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}