.sertifikat{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sertifikat-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sertifikat-form div{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 95%;
    margin: 0 auto;
}

.sertifikat-form label{
    width: 100%;
}