.faoliyat-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faoliyat-form div{
    display: flex;
    gap: 16px;
}

.faoliyat-form div label{
    width: 100%;
}

.faoliyat-form div label textarea{
    width: 100%;
    height: 80px;
    max-height: 150px;
}

.faoliyat-form div select{
    width: 100%;
    padding: 10px 8px;
}