.text-editor-form-forEdit {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .text-editor-form-forEdit div label{
    width: 95%;
    margin: 0 auto;
    display: block;
  }

  .text-editor-form-forEdit .image-and-date{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }
  
  .text-editor-wrapper {
    width: 95%;
    margin: 0 auto;
  }
  
  .text-editor-body {
    min-height: 200px;
    padding: 0px 20px;
  }
  
  .main-texteditor-form hr {
    padding: 5px;
    background: #222;
    opacity: 1 !important;
  }
  
  .textEditorName {
    display: block;
    width: 95%;
    margin: 0 auto;
    font-size: 20px;
  }
  