.ramz-title p{
   text-align: justify; 
}
.symbol{
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
.symbolImg{
    width: 30%;
}
.ramz-title p{
    color: #02307D;
    font-weight: 600;
}
.clearfix{
    min-width: 425px;
}