.media {
  margin-bottom: 70vh;
}

.media-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.media-form div {
  width: 100%;
}

.media-form label {
  width: 95%;
  margin: 0 auto;
  display: block;
}

.media-img {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

.icon {
  cursor: pointer;
}

.show-media {
  position: relative;
  width: 300px;
  border-radius: 10px;
}

.show-media span{
  all: unset;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px 10px;
  box-sizing: border-box;
  background: rgb(5, 62, 50);
  width: 100%;
  color: white;
}

.media-events {
  display: none;
}

.show-media:hover .media-events {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.567) !important;
  padding: 10px 15px;
  box-sizing: border-box;
  top: 0%;
}


.media-events .icon{
    margin-top: 30%;
    color: white;
}
