.main-texteditor-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-texteditor-form hr {
  padding: 5px;
  background: #222;
  opacity: 1 !important;
}

.textEditorName{
  display: block;
  width: 95%;
  margin: 0 auto;
}
