.fakultetName{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #02307d;
}

.btnGroup  button{
    font-size: 20px;
    background: none;
    height: 50px;
    outline: none;
    border: none;
    margin: 20px 0;
    margin-right: 12px;
    padding: 7px 20px;
    text-decoration: none;
    vertical-align: middle;
    font-style: normal;
    font-weight: 500;
    border-radius:5px;
   background:#cedaed;
    color: #02307d;
}
.btnGroup  button:hover{
    border-bottom: 0.3rem solid #02307d;
    padding-bottom: 0.5rem;

}
.kafedraName h3{
    margin: 10px 0;
    font-size: 20px;
}
