.event-btn{
    background: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 20px;
}

.edit{
    background-color: burlywood;
}

.delete{
    background-color: rgb(218, 14, 14);
}
