.table-wrapper {
    overflow-y: auto;
}

.generic-table table {
    width: 95%;
    min-width: 400px;
    border-spacing: 0;
    margin: 0 auto;
}

.generic-table thead {
    width: 100%;
}

.generic-table tr {
    text-align: center;
    border: 1px solid red;
}


.generic-table td {
    text-transform: capitalize;
    padding: 20px 10px;
    margin: 10px 0px;
    font-size: 1.1rem!important;
}
 .generic-table th{
    text-transform: capitalize;
    padding: 15px 10px;
    font-size: 1rem!important;
} 
