.rektotar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tel-email {
  display: flex;
}

.rektorat-form{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.rektorat-form .inputs{
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 50px;
}

.rektorat-form label{
    width: 100%;
}