.accessibility__header {
    border-color: coral;
    position: relative;
    margin-bottom: 5rem;
    width: 100% !important; 
    height: 30vh;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: initial;
    background-size:cover;
    background-image: url('../../../files/FAFSA.jpg');
}

.more__button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white !important;
}