.students__section, .card__list {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
.students__section{
    width: 100%;
    margin: 0 3%;
    /* min-width: 425px; */
}
.students__section svg{
    display: flex;
    width: 25%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    align-items:center;
}

.students__section a, .card__list a{
    padding: 30px;
}

.students__section__item, .card__list__item{
   width: 340px;
   height: 230px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 10px auto;
   border-radius: 10px;
   background: #E6EDFA;
   transition: all 0.5s ease;
}

.card__list__item{
    text-align: center;
    width: 300px;
    height: 200px;
}

.students__section__item:hover, .card__list__item:hover {
    box-shadow: 0 8px 16px 3px rgba(121, 155, 180, 0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
  transition: all 0.5s ease;
  }
.students__section h2{
    color:#02307D;
    font-size: 26px;
}
.card__list__item h4{
    color: #02307D;
}


@media only screen and (max-width: 700px){
    .card__list__item{
        width: 100%;
        height: auto;
    }
}




