.form-header{
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
    margin-bottom: 30px;
    /* background: rgb(198, 217, 136); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}