.form-header {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-header > h2 {
  font-size: 24px;
}

.header-btn {
  background: none;
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  margin-left: 10px;
}

.active-btn {
  background: cyan;
}
