@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.greyscale {
    filter: grayscale(96%) !important;
}

.header__greyscale {
    cursor: pointer;
}

.news-details img{
    image-rendering: optimizeSpeed;
    width: 100%;
    margin-bottom: 10px;
}


.container {
    margin-inline: auto !important;
}

.focus\:ring-4:focus {
    box-shadow: none !important;
}


.accordion__item{
    border-radius:2px;
    text-align: justify;
    width: 100%;
    height: auto;
    padding: 10px 7px;
    background: #fff;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: openContent;
    animation-duration: 1.5s;
    border: 1px solid #26597E;
    margin-bottom: 5px;
    border-radius: 7px;
}
.accordion__item >h4{
    margin-right: 10px !important;
}
.accordion-top, .accordion-bottom{
    display: block;
    content: "";
    width: 0; 
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
    margin: 0 15px 0 20px;
}

.active__accordion, .accordion__item:hover{
    cursor: pointer;
    background:#26597E;
    color: #fff;
}
.accordion__item:active{
    cursor: pointer;
        background: #26597E;
            color: #fff;
}
.accordion-bottom{
    border-top: none;
    border-bottom: 8px solid #CDDCF6 !important;
}

.accordion-right{
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #79849B;
    border-bottom: 5px solid transparent;
    margin: 0 15px 0 20px;
}

.accordion__secret__item, .accordion__secret__key{
    list-style: none;
    font-weight: 300;
    border: 1px solid rgb(236, 226, 226);
    padding: 15px;
    animation-name: openContent;
    animation-duration: 0.7s;
}

.accordion__secret__key{
    display: none;
    animation-name: openContent;
    animation-duration: 1.5s;
}
.accordion__container__main{
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.accordion__container__main > .left{
  width: 40%;
}
.accordion__container__main > .right{
    width: 55%;
}

.accordion__secret__key__desk{
    width: 100%;
    animation-name: openContent;
    animation-duration: 1.5s;
}

.accordion__menu{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media only screen and (max-width: 900px){
    .accordion__container__main{
        display: flex;
        flex-direction: column;
    }
    .accordion__container__main > .left{
        width: 100%;
    }
    .accordion__secret__key__desk{
        display: none;
    }
    .accordion__secret__key{
        display: block;
    }

    

    .accordion__item >h4{
        font-weight: 500;
    }
}