.fa-calendar-days{
    color:#02307D;
    font-weight: 600;
 }
 .project-info >.project{
    
    width: 350px;
    height: 240px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 10px;
}
.project i,.project span {
   
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 8px;
}
.project span{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.project:hover, .result_info-name:hover {

    background-color: #02307D;
    color:#fff;

}
.project:hover a{
    color: #fff !important;
}
.project p, .project h4{

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0 4px;

}
 .project h4 {
   
     overflow: hidden;
     text-overflow: ellipsis;
     width: 100%;
     margin: 0 4px;

 }
.project-info{
    margin:10px 0 0 27px;
    display: flex;
    flex-wrap: wrap;
}
.project-title, .project-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px auto;
}
.tabproject {
    display: none;
    width: 100%;   
    border-top: none;
    text-align: justify;
}
