@media (max-width:1200px) {
    .mar-top{
        margin-top: 80px;
    }
  
    
}

   
    .carousel-inner{
   
        max-height: 80vh;
    }
    
    .carousel-inner img{
        background-size: cover;
    
    }




